<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a class="navbar-brand" href="">eShop</a>
        </li>
        <li class="nav-item ml-auto">
            <NavLink class="nav-link" href="cart">
                <eShop.Web.CustomerPortal.Controls.CartComponent></eShop.Web.CustomerPortal.Controls.CartComponent>
            </NavLink>
        </li>
    </ul>
</div>

@code {


}
